
:root {
  --rojo-principal: rgba(195, 55, 64, 1);
  --rojo-hover: #D62828;
  --beige: rgba(215, 162, 120, 1);
  --marron: rgba(105, 67, 58, 1);
  --azul-piano: rgba(103, 148, 153, 1);
  --blanco: #ffffff;
  --gris-oscuro: #1a1a1a;
  --gris-claro: #fdfdfd;
  --negro: #000000;
  --transparente-negro: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;

  -webkit-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}


body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  padding: 20px 0 0 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.logo-blanco,
.fb-blanco,
.ig-blanco,
.wa-blanco {
  display: none;
}

.menu-items {
  display: flex;
  list-style: none;
}



.logo-blanco img,
.logo-negro img {
  width: 120px;
}

.fb-negro img,
.fb-blanco img,
.ig-negro img,
.ig-blanco img,
.wa-negro img,
.wa-blanco img {
  width: 25px;
  margin-left: 20px;
}



.menu-items li {
  margin: 0 20px;
}

.menu-items a {

  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 20px;
}

.menu-items a.active {
  border-bottom: 2px solid currentColor;
  padding-bottom: 4px;
  color: rgba(195, 55, 64, 1) !important;
}


.menu-light a {
  color: black !important;
}

.menu-light a:hover {
  color: rgba(195, 55, 64, 1) !important;
}

.menu-dark a {
  color: white !important;
}

.menu-dark a:hover {
  color: rgba(195, 55, 64, 1) !important;
}

.menu a {
  transition: color 0.3s ease;
}


.inicio {
  position: relative;
  background-image: linear-gradient(rgba(196, 196, 196, 0.568)),
    url("../img/GALERIA/img9.webp");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  color: black;
}


.inicio img {
  position: absolute;
  z-index: 1;
}

#vectorS {
  top: 150px;
  left: -150px;
  width: 1700px;
  opacity: 0.9;
  animation: fadeInFromTop 1.5s ease-in-out;
  opacity: 1;
}

#vectorInicio {
  bottom: 0px;
  opacity: 1;

}

.contenido-inicio {
  position: relative;
  max-width: 1200px;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  top: 20px;
  text-align: left;
  z-index: 2;
  animation: fadeInFromTop 1.5s ease-in-out;


}

.contenido-inicio h1 {
  color: rgba(195, 55, 64, 1);
  font-size: 50px;
  line-height: 1.1;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.contenido-inicio h3 {
  font-size: 25px;
  line-height: 1.4;
  margin: 0 0 5px 0;
}

.contenido-inicio h3 span {
  color: black;
  font-weight: bold;
}

.boton-inicio {
  padding-top: 200px;
}

.boton-inicio {
  position: absolute;
  top: 60px;
}

.contenido-inicio a {

  background-color: rgba(195, 55, 64, 1);
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5px;
}

.contenido-inicio a:hover {
  background-color: #D62828;
}


.cursos-elegantes {
  background: url("/img/CURSOS/Pentagrama.webp"), #1a1a1a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  background-attachment: scroll;
  padding: 100px 20px 80px;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.pMovil {
  display: none;
}

.cursos-elegantes h1 {
  font-size: 2.5rem;
  color: rgba(195, 55, 64, 1);
  margin-bottom: 20px;
}

.cursos-elegantes h3 {
  font-size: 1.4rem;
  color: #eee;
  margin-bottom: 60px;
}

.cursos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.curso-card {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  box-shadow: none;
  padding: 30px 25px;
  text-align: center;
  transition: transform 0.3s ease;
}

.curso-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.curso-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 20px;
}

.curso-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #222;
}

.curso-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

.borde-canto {
  border-top: 10px solid rgba(105, 67, 58, 1);
}

.borde-bateria {
  border-top: 10px solid rgba(215, 162, 120, 1);
}

.borde-piano {
  border-top: 10px solid rgba(103, 148, 153, 1)
}

.borde-bajo {
  border-top: 10px solid rgba(105, 67, 58, 1);
}

.borde-guitarra {
  border-top: 10px solid rgba(195, 55, 64, 1)
}

.borde-teoria {
  border-top: 10px solid rgba(215, 162, 120, 1)
}

.boton-consultar {
  margin-top: 60px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.boton-consultar a {
  padding: 12px 50px;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(215, 162, 120, 1);
  border: 2px solid rgba(215, 162, 120, 1);
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s ease;

}

.boton-consultar a:hover {
  background-color: rgba(215, 162, 120, 1);
  color: white;
}
.sobre-nosotros {
  background-color: #fdfdfd;
  padding: 180px 0px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.about-bg-mobile {
  display: none;
}

.about-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.about-video {
  flex: 1 1 45%;
  display: flex;
  justify-content: flex-start;
}

.about-video video {
  width: 100%;
  max-width: 360px;
  border-radius: 20px;
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.5);
}

.about-texto {
  flex: 1 1 50%;
}

.about-texto h2 {
  font-size: 2.2rem;
  color: rgba(195, 55, 64, 1);
  margin-bottom: 20px;
}

.about-texto p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
}

.boton-about {
  margin-top: 30px;
}

.boton-about a {
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(195, 55, 64, 1);
  border: 2px solid rgba(195, 55, 64, 1);
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}

.boton-about a:hover {
  background-color: #E63946;
  color: white;
}

.decoracion-izquierda,
.decoracion-derecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  height: auto;
  z-index: 1;
}

.decoracion-izquierda {
  left: 0;
}

.decoracion-derecha {
  right: 0;
}


.galeria-bg-dinamica {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.galeria-bg-dinamica .bg1,
.galeria-bg-dinamica .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;
}

.galeria-bg-dinamica .bg1.active,
.galeria-bg-dinamica .bg2.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.contenido-galeria {
  position: relative;
  z-index: 2;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

.contenido-galeria h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.boton-galeria {
  background-color: #fff;
  color: rgba(195, 55, 64, 1);
  font-weight: 600;
  border: none;
  padding: 14px 40px;
  font-size: 1.2rem;
  border-radius: 50px;
  text-decoration: none;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-galeria:hover {
  background-color: rgba(195, 55, 64, 1);
  color: #fff;
}

.layout-dos-columnas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.columna-texto {
  align-content: center;
  flex: 1 1 400px;
  color: white;
  text-align: left;
}

.columna-texto h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1.2;
  margin-bottom: 20px;
}

.columna-texto p {
  font-size: 1.3rem;
  color: rgba(240, 240, 240, 0.9);
  line-height: 1.8;
  margin-bottom: 30px;
}

.columna-instagram {
  flex: 1 1 400px;
  display: flex;
  justify-content: flex-end;
}

.columna-instagram iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #111;
  color: #ccc;
  padding: 50px 20px 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.footer-mobile-simple {
  display: none;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-logo img {
  width: 100px;
  filter: brightness(95%);
}

.footer-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  gap: 40px;
}

.footer-info,
.footer-links,
.footer-map {
  flex: 1 1 300px;
}

.footer-info p {
  margin: 6px 0;
  font-size: 0.95rem;
  color: #aaa;
}

.footer-info a {
  color: #ccc;
  text-decoration: none;
}

.footer-info a:hover {
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-map iframe {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  filter: grayscale(100%) brightness(90%);
  transition: filter 0.3s ease;
}

.footer-map iframe:hover {
  filter: grayscale(0%) brightness(100%);
}

.footer-copy {
  border-top: 1px solid #333;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 0.85rem;
  color: #666;
}


@media (max-width: 768px) {
  #vectorS {
    display: none;
  }

  .inicio {
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6)), url('../img/GALERIA/img8.webp');
    background-attachment: scroll;

    text-align: end;
    height: 70vh;
  }

  #vectorInicio {
    display: block;
    justify-content: center;
    z-index: 1000;
  }

  .contenido-inicio {
    width: 85%;
    text-align: left;
  }

  .contenido-inicio h1 {
    display: none;
    font-size: 2rem;
  }

  .contenido-inicio h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .boton-inicio {
    position: static;
    margin-top: 30px;
    padding-top: 0;
  }

  .contenido-inicio a {
    font-size: 1rem;
    padding: 12px 30px;
  }

  #vectorInicio {
    display: none;
  }
}


@media (max-width: 768px) {
  .cursos-elegantes {
    padding: 80px px;
  }

  .pMovil {
    display: block;
  }


  .cursos-elegantes h1 {
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  .cursos-elegantes h3 {
    display: none;
    font-size: 1.1rem;
    margin-bottom: 60px;
  }

  .cursos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
    justify-items: center;

  }

  .curso-card {
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 160px;
    height: 150px;
    padding: 15px 15px;
  }

  .curso-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .curso-card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .curso-card .pEscritorio {
    display: none;
    justify-content: left;
    font-size: 0.85rem;
  }


  .boton-consultar {
    margin-top: 40px;
  }

  .boton-consultar a {
    font-size: 0.95rem;
    padding: 10px 30px;
  }
}

.about-bg-mobile video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.5);
}

@media (max-width: 768px) {

  .sobre-nosotros {
    padding: 0;
  }

  .about-container {
    display: none;
  }

  .about-bg-mobile {
    display: block;
  }

  .about-bg-mobile {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }

  .about-bg-mobile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Filtro oscuro */
    z-index: 2;
  }

  .about-bg-mobile video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
  }

  .contenido-about-mobile {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .contenido-about-mobile h2 {
    font-size: 2rem;
    color: var(--rojo-principal);
    margin-bottom: 20px;
  }

  .contenido-about-mobile p {
    font-size: 1rem;
    line-height: 2;
    color: #f0f0f0;
    margin-bottom: 30px;
    max-width: 600px;
  }

  .contenido-about-mobile .boton-about a {
    background-color: var(--rojo-principal);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    border: none;
  }

  .contenido-about-mobile .boton-about a:hover {
    background-color: var(--rojo-hover);
  }
}


@media (max-width: 768px) {
  .galeria-bg-dinamica {
    height: auto;
    min-height: 100vh;
  }

  .contenido-galeria {
    flex-direction: column;
    padding: 20px 50px;

    gap: 3px;
  }

  .columna-texto h2 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 700;
  }

  .columna-texto p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
  }

  .boton-galeria {
    font-size: 1rem;
    padding: 12px 24px;
    display: inline-block;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 30px;
    background-color: transparent;
    margin-top: 20px;
    color: #eee;
  }



  .columna-instagram iframe {
    width: 100%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  .footer {
    display: none !important;
  }

  .footer-mobile-simple {
    display: block;
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Poppins', sans-serif;
  }

  .footer-simple-logo {
    width: 80px;
    margin-bottom: 15px;
    filter: brightness(95%);
  }

  .footer-simple-info p {
    font-size: 0.85rem;
    margin: 4px 0;
  }

  .footer-simple-copy {
    margin-top: 20px;
    font-size: 0.7rem;
    color: #777;
  }
}

.hamburger-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;
  cursor: pointer;
}

.hamburger-btn img {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 40px 40px;
  padding: 20px 30px 0px;
  z-index: 1090;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  animation: fadeIn 0.3s ease;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.mobile-menu a:hover {
  color: var(--rojo-principal);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.mobile-social-icons {

  display: flex;
  gap: 20px;
}

.mobile-social-icons img {
  width: 28px;
  filter: brightness(100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {

  .menu-items,
  .social-icons {
    display: none !important;
  }

  .hamburger-btn {
    display: block;
  }

  .mobile-menu .hamburger-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2001;
  }

  .mobile-menu.active {
    display: flex;
  }
}

.mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1089;
}

.mobile-overlay.active {
  display: block;
}

.mobile-logo {
  text-align: center;
  margin-bottom: 50px;
}

.mobile-logo img {
  width: 100px;
}

.mobile-menu {
  background-color: white !important;
}

.mobile-menu a {
  color: black !important;
}

.mobile-menu a:hover {
  color: var(--rojo-principal) !important;
}

.mobile-social-icons img {
  filter: invert(1) brightness(0);
}

@media (max-width: 768px) {

  .logo-blanco,
  .logo-negro {
    display: none !important;
  }
}

#vectorS,
.contenido-inicio {
  will-change: transform, opacity;
}

@media (min-width: 769px) and (max-width: 1024px) {


  .menu {
    padding: 10px 20px;
  }

  .menu-items a {
    font-size: 18px;
    padding: 10px;
  }

  .inicio {
    height: 90vh;
    background-position: center top;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
  }

  .contenido-inicio {
    width: 90%;
    height: auto;
    top: 0;
    text-align: left;
  }

  .contenido-inicio h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  .contenido-inicio h3 {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .contenido-inicio a {
    font-size: 1rem;
    padding: 12px 30px;
  }

  .boton-inicio {
    position: static;
    margin-top: 20px;
  }

  #vectorS {
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  #vectorInicio {
    bottom: -10px;
    opacity: 1;
    width: 100%;
  }

  .curso-card {
    width: 45%;
    max-width: none;
    margin-bottom: 20px;
  }

  .cursos-grid {
    justify-content: space-around;
    gap: 20px;
  }

  .sobre-nosotros {
    padding: 100px 20px;
    height: auto;
  }

  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .about-video {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
  }

  .about-video video {
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

  .about-texto {
    flex: 1 1 50%;
    text-align: left;
  }

  .about-texto h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .about-texto p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .decoracion-izquierda,
  .decoracion-derecha {
    display: none;
  }

  .galeria-bg-dinamica {
    height: auto;
    min-height: auto;
    padding: 60px 20px;
  }

  .contenido-galeria {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 20px;
  }

  .layout-dos-columnas {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .columna-texto {
    flex: 1 1 50%;
    text-align: left;
  }

  .columna-texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .columna-texto p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .boton-galeria {
    font-size: 1rem;
    padding: 10px 25px;
  }

  .columna-instagram {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
  }

  .columna-instagram iframe {
    width: 100%;
    max-width: 450px;
    height: 400px;
    border-radius: 12px;
  }


  .footer-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .footer-info,
  .footer-links,
  .footer-map {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .footer-logo img {
    width: 80px;
  }


}